[submodule "2ANO/IART/takuzu"]
	path = 2ANO/IART/takuzu
	url = https://github.com/limaopereira/takuzu.git
[submodule "3ANO/CGRA/E2/CG_E2"]
	path = 3ANO/CGRA/E2/CG_E2
	url = https://github.com/limaopereira/CG_E2.git
[submodule "3ANO/CGRA/E3/CG_E3"]
	path = 3ANO/CGRA/E3/CG_E3
	url = https://github.com/limaopereira/CG_E3.git
[submodule "3ANO/SDIS/A24-DistLedger"]
	path = 3ANO/SDIS/A24-DistLedger
	url = https://github.com/limaopereira/A24-DistLedger.git
[submodule "3ANO/RC/rc_word_game"]
	path = 3ANO/RC/rc_word_game
	url = https://github.com/limaopereira/rc_word_game.git
[submodule "3ANO/ESOF/es23-46"]
	path = 3ANO/ESOF/es23-46
	url = https://gitlab.rnl.tecnico.ulisboa.pt/es/es23-46.git
