<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Change balance - Flask</title>
</head>
<body>
    <h3>Acrescentar Responsabilidade</h3>
    <form action="atualizar_responsabilidade" method="post">
        <p>Nome Categoria:<input type="text" name="nome_cat"/></p>
	<p>Tin:<input type="text" name="tin"/></p>
	<p>Número de Série:<input type="text" name="num_serie"/></p>
	<p>Fabricante:<input type="text" name="fabricante"/></p> 
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>
